/*Fuentes*/
/*PaLeta de Colores */
* {
  margin: 0;
  padding: 0; }

main {
  width: 100%;
  height: 100vh;
  color: #fff;
  background-image: linear-gradient(to bottom, #000000, #030001, #060001, #090001, #0c0001, #22090c, #340e13, #470e17, #740a1d, #a3001e, #d10018, #ff0000);
  background-size: 400% 400%;
  animation-name: cambiar;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center; }

.flex {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center; }

.text-inicio {
  font-size: 20px;
  letter-spacing: 2px;
  padding: 2rem;
  color: black;
  text-align: center;
  /* font-family: 'Kaushan Script', cursive; */
  font-family: 'Caveat', cursive;
  font-family: 'Press Start 2P', cursive; }

.resaltar {
  color: white;
  font-family: 'Splash', cursive;
  font-size: 40px; }

.button {
  border: solid 2px white;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  font-size: 25px;
  position: relative;
  margin: 0 0 53px 0;
  padding: 20px;
  transition: all 0.5s;
  background-color: transparent;
  font-family: 'Kaushan Script', cursive; }

.button:hover {
  background-color: #A3001D;
  animation: opacidad 1s 1; }

@keyframes cambiar {
  0% {
    background-position: 50% 0%; }
  50% {
    background-position: 50% 100%; }
  100% {
    background-position: 50% 0%; } }

@keyframes opacidad {
  0% {
    opacity: 10%; }
  50% {
    opacity: 50%; }
  100% {
    opacity: 100%; } }

.navbar {
  height: 50px;
  width: 100%;
  background-color: #A3001D;
  position: relative; }

.navbar-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 15px; }

.nav-item {
  list-style: none; }

.nav-link {
  list-style: none;
  text-decoration: none;
  padding: 10px;
  color: white;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-weight: bold; }

.nav-link:hover {
  color: white;
  background-color: #000000;
  border-radius: 5px; }

body {
  background-color: #000; }

.container {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  padding: 0 10px;
  position: relative; }

.Acerca-de-mi {
  width: 100%;
  height: 600px;
  position: relative; }

.titulo-section {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 50px;
  font-size: 30px;
  font-weight: 700;
  font-family: "Secular One", sans-serif;
  color: #fff; }

.iconos-sobre-mi {
  display: flex;
  position: relative;
  flex-direction: row;
  margin-bottom: 30px; }

.circulo-1 {
  display: flex;
  position: relative;
  flex-direction: row; }

.circulo-2 {
  display: flex;
  position: relative;
  flex-direction: row; }

.circulo {
  background-color: #A3001D;
  width: 125px;
  height: 125px;
  border-radius: 75px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center; }

.acercaicon {
  font-size: 50px;
  margin: 30px;
  color: #fff; }

p {
  color: #fff;
  font-family: "Raleway", sans-serif; }

.titulo-card {
  color: #838384;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 5px; }

.card-acerca {
  display: flex;
  height: 230px;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center; }

.skills {
  height: 394px;
  display: flex;
  margin-top: 200px; }

.info-yo {
  width: 590px;
  height: 394px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; }

.fotome {
  height: 300px;
  width: 300px;
  background-color: #A3001D;
  border-radius: 225px;
  position: relative;
  margin: 15px;
  background-image: url("../images/1655346792069.jfif");
  background-size: contain; }

.text-card {
  font-family: "Raleway", sans-serif;
  font-weight: 500; }

.habilidades {
  width: 590px;
  height: 394px;
  position: relative;
  display: flex;
  flex-direction: column;
  margin-left: 10px; }

.bar {
  position: relative;
  display: flex;
  flex-direction: row;
  margin: 4px; }

.barra {
  display: flex;
  align-items: flex-start;
  width: 90%;
  background-color: #750318;
  display: flex;
  flex-direction: column; }

.bar span {
  display: initial;
  align-items: flex-end; }

.html {
  width: 90%; }

.css {
  width: 80%; }

.js {
  width: 60%; }

.react {
  width: 50%; }

.logotecno {
  font-size: 25px;
  padding: 1px;
  text-align: center;
  padding-right: 5px; }

.tag {
  height: 30px;
  width: 110px;
  background-color: #A3001D;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  color: #fff;
  font-size: 17px;
  text-align: center;
  padding: 5px; }

.nivelskill {
  font-size: 20px;
  color: #fff;
  font-family: "Secular One", sans-serif;
  margin-left: 10px; }

.contacto {
  width: 100%;
  background-color: black;
  position: relative; }

.titulo-contacto {
  width: 100%;
  background: #A3001D;
  font-size: 30px;
  font-weight: 700;
  font-family: "Secular One", sans-serif;
  position: relative;
  text-align: center; }

#onda {
  display: flex;
  position: relative; }

.login-box {
  position: relative;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, 1%);
  background: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px; }

.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center; }

.login-box .user-box {
  position: relative; }

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent; }

.login-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s; }

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: white;
  font-size: 12px; }

.login-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px; }

.login-box a:hover {
  background: #A3001D;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #A3001D, 0 0 25px #A3001D, 0 0 50px #A3001D, 0 0 100px #A3001D; }

.login-box a span {
  position: absolute;
  display: block; }

.login-box a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #838384);
  animation: btn-anim1 1s linear infinite; }

@keyframes btn-anim1 {
  0% {
    left: -100%; }
  50%, 100% {
    left: 100%; } }

.login-box a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #838384);
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s; }

@keyframes btn-anim2 {
  0% {
    top: -100%; }
  50%, 100% {
    top: 100%; } }

.login-box a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #838384);
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s; }

@keyframes btn-anim3 {
  0% {
    right: -100%; }
  50%, 100% {
    right: 100%; } }

.login-box a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #838384);
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s; }

@keyframes btn-anim4 {
  0% {
    bottom: -100%; }
  50%, 100% {
    bottom: 100%; } }

textarea {
  resize: none;
  background: transparent;
  color: white;
  width: 310px;
  height: 200px;
  border-radius: 10px;
  font-weight: 700;
  padding: 5px;
  border-color: #fff; }
