/*Fuentes*/
$font1: 'Kaushan Script',
cursive;
$font2: 'Press Start 2P',
cursive;
$font3: 'Caveat',
cursive;
$font4: 'Secular One',
sans-serif;
$font5: 'Raleway',
sans-serif;
$font6: 'Raleway',
sans-serif;
/*PaLeta de Colores */
$color1: #A3001D;
$color2: #fff;
$color3: #000;
$color4: #838384;
$color5: #C55A5A;


* {
    margin: 0;
    padding: 0;
}


main {
    width: 100%;
    height: 100vh;
    color: #fff;
    background-image: linear-gradient(to bottom, #000000, #030001, #060001, #090001, #0c0001, #22090c, #340e13, #470e17, #740a1d, #a3001e, #d10018, #ff0000);
    background-size: 400% 400%;
    animation-name: cambiar;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.flex {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.text-inicio {
    font-size: 20px;
    letter-spacing: 2px;
    padding: 2rem;
    color: black;
    text-align: center;
    /* font-family: 'Kaushan Script', cursive; */
    font-family: 'Caveat', cursive;
    font-family: 'Press Start 2P', cursive;
}

.resaltar {
    color: white;
    font-family: 'Splash', cursive;
    font-size: 40px;
}

.button {
    border: solid 2px white;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    font-size: 25px;
    position: relative;
    margin: 0 0 53px 0;
    padding: 20px;
    transition: all 0.5s;
    background-color: transparent;
    font-family: 'Kaushan Script', cursive;
}

.button:hover {
    background-color: #A3001D;
    animation: opacidad 1s 1;
}

@keyframes cambiar {
    0% {
        background-position: 50% 0%;
    }

    50% {
        background-position: 50% 100%;
    }

    100% {
        background-position: 50% 0%;
    }
}

@keyframes opacidad {
    0% {
        opacity: 10%;
    }

    50% {
        opacity: 50%;
    }

    100% {
        opacity: 100%;
    }
}

.navbar {
    height: 50px;
    width: 100%;
    background-color: #A3001D;
    position: relative;
}

.navbar-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 15px;
}

.nav-item {
    list-style: none;

}

.nav-link {
    list-style: none;
    text-decoration: none;
    padding: 10px;
    color: white;
    text-transform: uppercase;
    font-family: $font5;
    font-weight: bold;
}

.nav-link:hover {
    color: white;
    background-color: #000000;
    border-radius: 5px;
}

body {
    background-color: #000;
}

//Acerca de mi Circulos///

.container {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    padding: 0 10px;
    position: relative;
}

.Acerca-de-mi {
    width: 100%;
    height: 600px;
    position: relative;
}

.titulo-section {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 50px;
    font-size: 30px;
    font-weight: 700;
    font-family: $font4;
    color: $color2;
}

.iconos-sobre-mi {
    display: flex;
    position: relative;
    flex-direction: row;
    margin-bottom: 30px;
}

.circulo-1 {
    display: flex;
    position: relative;
    flex-direction: row;
}

.circulo-2 {
    display: flex;
    position: relative;
    flex-direction: row;
}

.circulo {
    background-color: $color1;
    width: 125px;
    height: 125px;
    border-radius: 75px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.acercaicon {
    font-size: 50px;
    margin: 30px;
    color: $color2;
}

p {
    color: $color2;
    font-family: $font6;
}

.titulo-card {
    color: $color4;
    font-family: $font6;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 5px;
}

.card-acerca {
    display: flex;
    height: 230px;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}


//Foto Acerda de mi////

.skills {
    height: 394px;
    display: flex;
    margin-top: 200px;
}

.info-yo {
    width: 590px;
    height: 394px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.fotome {
    height: 300px;
    width: 300px;
    background-color: $color1;
    border-radius: 225px;
    position: relative;
    margin: 15px;
    background-image: url("../images/1655346792069.jfif");
    background-size: contain;
}

.text-card {
    font-family: $font5;
    font-weight: 500;
}

///Barra Skills///

.habilidades {
    width: 590px;
    height: 394px;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.bar {
    position: relative;
    display: flex;
    flex-direction: row;
    margin: 4px;
}

.barra {
    display: flex;
    align-items: flex-start;
    width: 90%;
    background-color: #750318;
    display: flex;
    flex-direction: column;
}

.bar span {
    display: initial;
    align-items: flex-end;
}

.html {
    width: 90%;
}

.css {
    width: 80%;
}

.js {
    width: 60%;
}

.react {
    width: 50%;
}

.logoskills {
    font-size: 25px;
    padding: 1px;
    text-align: center;
    padding-right: 5px;
}

.tag {
    height: 30px;
    width: 110px;
    background-color: $color1;
    font-family: $font5;
    font-weight: bold;
    color: $color2;
    font-size: 17px;
    text-align: center;
    padding: 5px;

}

.nivelskill {
    font-size: 20px;
    color: $color2;
    font-family: $font4;
    margin-left: 10px;
}

//Tecnologias//

.slider {
    width: 1200px;
    height: auto;
    margin: auto;
    overflow: hidden;
}

.slider .slide-track {
    display: flex;
    animation: scroll 40s linear infinite;
    -webkit-animation: scroll 40s linear infinite;
    width: calc(200px * 14);
}

.slider .slide {
    width: 150px;
    margin: 10px;
}

.slider .slide img {
    width: 100%;
}

@keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    100% {
        -webkit-transform: translateX(calc(-200px * 7));
        transform: translateX(calc(-200px * 7));
    }
}

///Proyectos///

//Contacto//
.contacto {
    width: 100%;
    background-color: black;
    position: relative;
}

.titulo-contacto {
    width: 100%;
    background: $color1;
    font-size: 30px;
    font-weight: 700;
    font-family: $font4;
    position: relative;
    text-align: center;
    height: 700px;
}

#onda {
    display: flex;
    position: relative;
}

//Formulario//
.login-box {
    position: relative;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, 1%);
    background: rgba(0, 0, 0, .5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 10px;
}

.login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: $color2;
    text-align: center;
}

.login-box .user-box {
    position: relative;
}

.login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.login-box .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.login-box .user-box input:focus~label,
.login-box .user-box input:valid~label {
    top: -20px;
    left: 0;
    color: white;
    font-size: 12px;
}

.login-box form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: $color2;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
}

.login-box a:hover {
    background: $color1;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px $color1,
        0 0 25px $color1,
        0 0 50px $color1,
        0 0 100px $color1;
}

.login-box a span {
    position: absolute;
    display: block;
}

.login-box a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, $color4);
    animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
    0% {
        left: -100%;
    }

    50%,
    100% {
        left: 100%;
    }
}

.login-box a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, $color4);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
}

@keyframes btn-anim2 {
    0% {
        top: -100%;
    }

    50%,
    100% {
        top: 100%;
    }
}

.login-box a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, $color4);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
}

@keyframes btn-anim3 {
    0% {
        right: -100%;
    }

    50%,
    100% {
        right: 100%;
    }
}

.login-box a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, $color4);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
}

@keyframes btn-anim4 {
    0% {
        bottom: -100%;
    }

    50%,
    100% {
        bottom: 100%;
    }
}

textarea {
    resize: none;
    background: transparent;
    color: white;
    width: 310px;
    height: 200px;
    border-radius: 10px;
    font-weight: 700;
    padding: 5px;
    border-color: $color2;
}


/// redes ////@at-root
.container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
}

#apple,
#twitter,
#github,
#facebook {
    font-size: 6em;
    background-color: #18191f;
    color: #fff;
    box-shadow: 2px 2px 2px #00000080, 10px 1px 12px #00000080,
        2px 2px 10px #00000080, 2px 2px 3px #00000080, inset 2px 2px 10px #00000080,
        inset 2px 2px 10px #00000080, inset 2px 2px 10px #00000080,
        inset 2px 2px 10px #00000080;
    border-radius: 29px;
    padding: 11px 19px;
    margin: 0 40px;
    animation: animate 3s linear infinite;
    text-shadow: 0 0 50px #0072ff, 0 0 100px #0072ff, 0 0 150px #0072ff,
        0 0 200px #0072ff;
}

#twitter {
    animation-delay: 0.3s;
}

#facebook {
    animation-delay: 0.7s;
}

#github {
    animation-delay: 0.1s;
}

@keyframes animate {
    from {
        filter: hue-rotate(0deg);
    }

    to {
        filter: hue-rotate(360deg);
    }
}